{% extends "gestionCursos/base.html" %}
{% load static %}
{% block title %}  Lista de Cursos  {% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'gestionCursos/css/lista.css' %}">
{% endblock extracss %}

{% block content %}
{% include "gestionCursos/nav.html" %}
<main>
    <div class="cuerpo-lista">
        <table class="lista">
            <thead>
                <tr>
                    <th>Profesor</th><th>Nombre</th><th>Cupos</th><th>Pendientes</th><th>Categoria</th><th colspan="2">Descripcion</th>
                </tr>
            </thead>
            {% for materia in cursos %}
            <tr>
                <td class="td-titulo">{{materia.autor|title}}</td><td class="td-titulo">{{materia.nombre}}</td><td class="td-num">{{materia.cupos}}</td><td class="td-num">{{materia.pendientes}}</td><td class="td-titulo">{{materia.categoria}}</td><td class="td-des">{{materia.descripcion}}</td><td class="td-des" id="boton_lista"><form action="{% url 'lista de usuario'  user.id %}" method="POST">{% csrf_token %}<input type="hidden" name='id' value="{{materia.id}}"><input type="submit" value="Agregar"></form></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="C_Selector_inferior">
        <div id="Selector_inferior">
            {% for tipos in categorias %}
                <div id="S_Selector_inferior">
                    <a href="{% url 'categoria' tipos.id %}">{{tipos.tipo}}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}