{% extends "gestionCursos/base.html" %}
{% load static %}
{% block title %}  Lista de Cursos  {% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'gestionCursos/css/lista.css' %}">
{% endblock extracss %}

{% block content %}

{% include "gestionCursos/nav.html" %}
<main>
<div class="cuerpo-lista">
    <table class="lista">
        <thead>
            <tr>
                <th>Profesor</th><th>Nombre</th><th>Categoria</th><th>Descripcion</th>
            </tr>
        </thead>
        {% for elemento in lista %}
        {% for materia in elemento %}
        <tr>
            <td class="td-titulo">{{materia.autor|title}}</td><td class="td-titulo">{{materia.nombre}}</td><td class="td-titulo">{{materia.categoria}}</td><td class="td-des">{{materia.descripcion}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        <tr>
            <td colspan="4" style="font-size: 15px;"> <a href="{% url 'lista' %}"> ---------- Agregar Curso ---------- </a></td>
        </tr>
    </table>
</div>
</main>
{% endblock %}